
<div class="home">
    <div class="header-home">
        <div class="text">Users</div>
        <div class="home-search">
            <input type="search" placeholder="What are you looking for?">
            <button><i class='bx bx-search icon'></i></button>
        </div>
        <div class="account">Thông tin account</div>
    </div>

    <div class="content-home">
        <div class="container-home">
            <div class="admin__info admin__content">
                <table class="admin__content-listUser">
                    <div class="edit-list">
                        <h2>DANH SÁCH NGƯỜI DÙNG</h2>
                        <button class="btn-add"><i class='bx bx-edit icon'></i></button>

                    </div>
                    <thead>
                        <tr class="thead__tr-product">
                            <th>Stt</th>
                            <th>Tên</th>
                            <th>CMND</th>
                            <th>Ngày Sinh</th>
                            <th>Địa chỉ</th>
                            <th>Tình Trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">1</td>
                            <td class="td__name-{{this.id}}">Mẫn </td>
                            <td class="td__gmail-{{this.id}}">079202017342</td>
                            <td class="td__address-{{this.id}}">06/01/2002</td>
                            <td class="td__phone-{{this.id}}">District Bình Thạnh </td>
                            <td class="td__fanpage-{{this.id}}">FA</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.xx.fbcdn.net/v/t39.30808-6/269699800_1839785566213701_6621889731220202044_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-CkO2EfH1XkAX9eghOU&_nc_ht=scontent.fhan3-1.fna&oh=00_AT8aEdBmUXfr_jC6xtuTjQme-RvUFxvvJpeMifOvzLHjcg&oe=62B4B463&_nc_fr=fhan3c01
                            </td>
                        </tr>

                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">2</td>
                            <td class="td__name-{{this.id}}">Lê Viết Lực</td>
                            <td class="td__gmail-{{this.id}}">888888888</td>
                            <td class="td__address-{{this.id}}">01/01/2002</td>
                            <td class="td__phone-{{this.id}}">District 7</td>
                            <td class="td__fanpage-{{this.id}}">FA</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/286828226_572502917646323_3382391823798131176_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=fBxQQkQH2B0AX_6vp6H&_nc_ht=scontent.fsgn2-6.fna&oh=03_AVJUzSHm5MCNbrswR7qxSy3axDBUqP111Z4xahbXVBW5pA&oe=62D3EB2E
                            </td>
                        </tr>
                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">3</td>
                            <td class="td__name-{{this.id}}">Khoa Đa Lê</td>
                            <td class="td__gmail-{{this.id}}">7777777777</td>
                            <td class="td__address-{{this.id}}">10/10/2002</td>
                            <td class="td__phone-{{this.id}}">District 3</td>
                            <td class="td__fanpage-{{this.id}}">FA</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.fhan3-5.fna.fbcdn.net/v/t1.6435-9/138852646_2924833057736947_3626689695764728634_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=23HLAsxSccsAX-TfPt5&_nc_ht=scontent.fhan3-5.fna&oh=00_AT-ZGL7jCa33XuS3Kbi3BlbgSmXFSnG0FEvosj4ZnEyXoQ&oe=62D51488
                            </td>
                        </tr>
                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">4</td>
                            <td class="td__name-{{this.id}}">Trẩn Thiện Khiêm</td>
                            <td class="td__gmail-{{this.id}}">666666666</td>
                            <td class="td__address-{{this.id}}">02/02/2002</td>
                            <td class="td__phone-{{this.id}}">District 3</td>
                            <td class="td__fanpage-{{this.id}}">FA</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/281273946_996890924333790_5900634109758769861_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=EXZSoNtE-LkAX__jVK0&_nc_ht=scontent.fsgn2-6.fna&oh=03_AVIai6jc_bJPbOoYE1v8wmMqmxcTebHC5wVFtOFV1uJjYw&oe=62D5B031
                            </td>
                        </tr>

                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">5</td>
                            <td class="td__name-{{this.id}}">Phillips Trương</td>
                            <td class="td__gmail-{{this.id}}">555555555</td>
                            <td class="td__address-{{this.id}}">03/03/2002</td>
                            <td class="td__phone-{{this.id}}">District 3</td>
                            <td class="td__fanpage-{{this.id}}">FA</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.15752-9/281345780_540514417611671_7951150110455574850_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=KCMUD6tk-lAAX-dYda0&_nc_ht=scontent.fsgn2-1.fna&oh=03_AVLxiWoIwYx0Lpo0htP3HFlps50EwQIZUddUH0qc5JBfZQ&oe=62D5F7AE
                            </td>
                        </tr>

                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">6</td>
                            <td class="td__name-{{this.id}}">Thiều Vĩnh Trung</td>
                            <td class="td__gmail-{{this.id}}">444444444</td>
                            <td class="td__address-{{this.id}}">24/10/2002</td>
                            <td class="td__phone-{{this.id}}">District 7</td>
                            <td class="td__fanpage-{{this.id}}">F0</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.6435-9/166237182_1410551752619350_8696644642442617228_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=YGi_R0FTzEwAX_CSe9J&_nc_ht=scontent.fsgn2-2.fna&oh=00_AT_orDo4vKrlry2jD88v2XWQaVt182ve_MJ7AyAgl9e87w&oe=62D4E431
                            </td>
                        </tr>

                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">7</td>
                            <td class="td__name-{{this.id}}">Nguyễn Minh Triết</td>
                            <td class="td__gmail-{{this.id}}">333333333</td>
                            <td class="td__address-{{this.id}}">04/04/2002</td>
                            <td class="td__phone-{{this.id}}">District 6</td>
                            <td class="td__fanpage-{{this.id}}">F0</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://vaporshop.vn/upload/images/hut-vape-dung-cach-1.jpg </td>
                        </tr>

                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">8</td>
                            <td class="td__name-{{this.id}}">Nguyễn Phúc Iên</td>
                            <td class="td__gmail-{{this.id}}">222222222</td>
                            <td class="td__address-{{this.id}}">05/05/2002</td>
                            <td class="td__phone-{{this.id}}">District 12</td>
                            <td class="td__fanpage-{{this.id}}">F0</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://i.pinimg.com/236x/e4/21/92/e42192b0682ede9d80d92260fb5e17cd.jpg </td>
                        </tr>

                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">9</td>
                            <td class="td__name-{{this.id}}">Nguyễn Cường Nam</td>
                            <td class="td__gmail-{{this.id}}">999999999</td>
                            <td class="td__address-{{this.id}}">06/06/2002</td>
                            <td class="td__phone-{{this.id}}">District 11</td>
                            <td class="td__fanpage-{{this.id}}">F0</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.6435-9/81969351_694352194302539_6677691864784568320_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=x36YRl6kDHYAX_THHlO&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_r-WdjMLdaCAk6Lmzs-Re4Rsc5KM-DziKKviXGbQZX3w&oe=62D5212F
                            </td>
                        </tr>

                        <tr class="tr__{{this.id}} tbody__tr-product">
                            <td class="td__{{this.id}}">10</td>
                            <td class="td__name-{{this.id}}">Trần Đào Xuân Trí</td>
                            <td class="td__gmail-{{this.id}}">000000000</td>
                            <td class="td__address-{{this.id}}">07/07/2002</td>
                            <td class="td__phone-{{this.id}}">District 2</td>
                            <td class="td__fanpage-{{this.id}}">F0</td>
                            <td class="td__fanpage-{{this.id}}" style="display: none">
                                https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.15752-9/286302026_392851616218123_8807802860830286055_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=79Nqp7FkKh4AX-jRFKj&_nc_ht=scontent.fsgn2-3.fna&oh=03_AVKP26-GX55v3LTq9Qa5ek0GSSDT1v1L9HzRNIOlWSbwGQ&oe=62B100A4
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="admin__info admin__general">
                <div class="admin__info-logo">
                    <h3>Thông tin tổng quát</h3>

                    <img src="https://www.facebook.com/photo/?fbid=1839785569547034&set=a.161798567345751"
                        alt="image error"
                        onerror="this.src='https:/www.statuscake.com/cdn-cgi/image/width=1536,quality=80,format=auto/wp-content/uploads/2021/07/iStock-1288486076.jpg';">
                    <!-- <span>Thai Minh Quang</span> -->
                </div>
                <div class="admin__general-info">
                    <ul>
                        <li>Name :
                            <span style="display: block;">Mẫn</span>
                        </li>

                        <li>ID :
                            <span style="display: block;">079202017342</span>
                        </li>

                        <li>Date of Birth :
                            <span style="display: block;">06/01/2002</span>
                        </li>
                        <li>
                            Address :
                            <span style="display: block;">District Bình Thạnh </span>
                        </li>
                        <li>
                            Current status :
                            <span style="display: block;">FA</span>
                        </li>
                        <li>
                            Có liên quan đến người mắc COVID-19: :
                            <span style="display: block;">CÓ</span>
                        </li>
                        <li>
                            Địa chỉ điều trị :
                            <span style="display: block;">227</span>
                        </li>

                        <li class="edit-profile-btn">
                            <button>Edit Profile</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="screen"></div>

<div class="container-edit-profile">
    <div class="edit-profile-header">
        <h2>Profile Settings</h2>
        <button class="close-edit-profile"><i class='bx bx-x icon'></i></button>
    </div>
    <div class="row-top">
        <img src="" alt="Nhu yếu phẩm 1">
        <input type="file" id="file">
        <label for="file" id="uploadBtn">Choose Photo</label>
    </div>

    <div class="row-bottom">
        <div class="content-row-bottom">
            <div class="content-info">
                <div class="space content-name">
                    <p>Name</p>
                    <input type="text" placeholder="Username">
                </div>
                <div class="space content-cmnd">
                    <p>CMND</p>
                    <input type="text" placeholder="CMND">
                </div>
            </div>

            <div class="space content-birthday">
                <p>Birthday</p>
                <input type="text" placeholder="dd/mm/yy">
            </div>

            <div class="space content-address">
                <p>Address</p>
                <input type="text" placeholder="Address">
            </div>

            <div class="status">
                <div class="space content-relatively">
                    <p>Are you related to someone with COVID?</p>
                    <input type="text" placeholder="Yes/No">
                </div>
                <div class="space content-status">
                    <p>Status</p>
                    <input type="text" placeholder="F0/F1/F2 ,...">
                </div>
            </div>

            <div class="space content-treatment_address">
                <p>Treatment Address</p>
                <input type="text" placeholder="Treatment Address">
            </div>

            <button>Submit</button>
        </div>
    </div>
</div>

{{!-- <script src="/sidebar/sidebar.js"></script> --}}
<script src="/patient-list/patient-list.js"></script>